trigger: none

pr: none

variables:
  ReleaseArguments: ' --filter "TestCategory!=Quarantine" --verbosity normal ' 
  VmImage: windows-latest # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops 
  BuildConfiguration: Release
  Packaging.EnableSBOMSigning: true

stages:
- stage:
  displayName: Gate 
  jobs:
    - template:  templates/static-tools.yml
      parameters:
        BuildConfiguration: $(BuildConfiguration)
        VmImage: $(VmImage)

    - template:  templates/build-test.yml
      parameters:
        BuildConfiguration: $(BuildConfiguration)
        Arguments: $(ReleaseArguments)
        VmImage: $(VmImage)
        ClientTelemetryTestName: IntegrationTest ClientTelemetry
        ClientTelemetryTestCategory: ClientTelemetryRelease

- stage:
  displayName: Publish 
  jobs:
    - template:  templates/nuget-pack.yml
      parameters:
        BuildConfiguration: Release
        VmImage: $(VmImage)
        ReleasePackage: true
        OutputPath: '$(Build.ArtifactStagingDirectory)/bin/AnyCPU/$(BuildConfiguration)/Microsoft.Azure.Cosmos'
        BlobVersion: $(BlobVersion)