<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet" value="https://www.myget.org/F/azure-cosmos/api/v3/index.json" />
	<add key="Microsoft.Data.Encryption" value="https://sqlclientdrivers.pkgs.visualstudio.com/ADO.Net/_packaging/Microsoft.Data.Encryption/nuget/v3/index.json" />
 </packageSources>
</configuration>
