<configuration>
	<appSettings>
		<add key="BackgroundRefreshLocationTimeIntervalInMS" value="2000"/>
		<add key="UnavailableLocationsExpirationTimeInSeconds" value="2"/>
		<add key="BackgroundRefreshLocationTimeIntervalInMS" value="1000"/>
		<add key="GatewayEndpoint" value =""/>
		<add key="MasterKey" value=""/>
		<add key="ContentSerializationPerformanceTests.CosmosDatabaseId" value="db"/>
		<add key="ContentSerializationPerformanceTests.ContainerId" value="container"/>
		<add key="ContentSerializationPerformanceTests.ContentSerialization" value="JsonText"/>
		<add key="ContentSerializationPerformanceTests.Query" value="SELECT c.myPartitionKey FROM c WHERE c.myPartitionKey = 'Colorado'"/>
		<add key="ContentSerializationPerformanceTests.NumberOfIterations" value="30"/>
		<add key="ContentSerializationPerformanceTests.WarmupIterations" value="10"/>
		<add key="ContentSerializationPerformanceTests.MaxConcurrency" value="-1"/>
		<add key="ContentSerializationPerformanceTests.MaxItemCount" value="-1"/>
		<add key="ContentSerializationPerformanceTests.AppendRawDataToFile" value="false"/>
		<add key="ContentSerializationPerformanceTests.UseStronglyTypedIterator" value="true"/>
	</appSettings>
</configuration>
