<configuration>
	<appSettings>
		<add key="BackgroundRefreshLocationTimeIntervalInMS" value="2000"/>
		<add key="UnavailableLocationsExpirationTimeInSeconds" value="2"/>
		<add key="BackgroundRefreshLocationTimeIntervalInMS" value="1000"/>
		<add key="GatewayEndpoint" value ="https://127.0.0.1:8081/"/>
		<add key="MasterKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw=="/>
		<add key="ContentSerializationPerformanceTests.CosmosDatabaseId" value="db"/>
		<add key="ContentSerializationPerformanceTests.ContainerId" value="container"/>
		<add key="ContentSerializationPerformanceTests.ContentSerialization" value="JsonText"/>
		<add key="ContentSerializationPerformanceTests.Query" value="SELECT TOP 20000 * FROM c"/>
		<add key="ContentSerializationPerformanceTests.NumberOfIterations" value="30"/>
		<add key="ContentSerializationPerformanceTests.WarmupIterations" value="10"/>
		<add key="ContentSerializationPerformanceTests.MaxConcurrency" value="-1"/>
		<add key="ContentSerializationPerformanceTests.MaxItemCount" value="-1"/>
		<add key="ContentSerializationPerformanceTests.AppendRawDataToFile" value="false"/>
		<add key="ContentSerializationPerformanceTests.UseStronglyTypedIterator" value="true"/>
	</appSettings>
</configuration>
