<configuration>
  <appSettings>
    <add key="BackgroundRefreshLocationTimeIntervalInMS" value="2000"/>
    <add key="UnavailableLocationsExpirationTimeInSeconds" value="1"/>
    <add key="BackgroundRefreshLocationTimeIntervalInMS" value="1000"/>
    <add key="UnavailableLocationsExpirationTimeInSeconds" value="1"/>
  </appSettings>
</configuration>
