name: PR Lint

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  pr-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: morrisoncole/pr-lint-action@v1.0.0
      with:
        title-regex: '(\[Internal\])? (Added|Fixed) .{3}.+: .{3}.+'
        on-failed-regex-comment: "Please follow the required format. [Internal] (Added|Fixed) Category: Description"
        repo-token: "${{ secrets.GITHUB_TOKEN }}"